.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 97px;
  margin-bottom: 180px;
}

.wrapper h2 {
  color: var(--pure-white, #fff);
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 143.023%; /* 77.232px */
}

.container {
  display: flex;
  gap: 31px;
}

.giftWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px 24px 36px;
  width: 359px;
  height: 377px;
  border-radius: 14px;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
}

.giftWrapper h3 {
  color: var(--pure-white, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
}

.giftWrapper p {
  color: var(--pure-white, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%; /* 22.753px */
  opacity: 0.30000001192092896;
}

.special {
  background: #2e2e2e;
}

.giftWrapper button {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%; /* 22.753px */
  padding: 10px 0px;
  border-radius: 23.5px;
  background: #e3b748;
  width: 121px;
  border: none;
}
