@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: white;
  background: #1d1d1d;
}

button {
  cursor: pointer;
}
